
body {
  font-family: Oswald, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.my-meeting-calendar {
  width: 80%;
  margin: 1em auto;
}

.my-meeting-calendar:after {
  content: '';
  clear: both;
  display: block;
  height: 1em;
}

.view-title {
  width: 5em;
  text-align: center;
  font-size: 2em;
  margin: 0 0.5em;
  line-height: 2em;
  vertical-align: middle;
  display: inline-block;
}

.view-header {
  text-align: center;
  /*border-bottom: 1px solid #ccc;*/
  margin-bottom: 1em;
}

.float-clicky {
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  transition: all 100ms linear;
  cursor: pointer;
}

.float-clicky:hover:not(:active) {
  transform: translate3d(0, -0.08em, 0);
  box-shadow: 0 0.08em 0.1em #ccc;
}

.quick-down.float-clicky:active {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
}

.round {
  border-radius: 100%;
}

[class*='icon-'] {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  font-size: 2em;
  line-height: 1.4em;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  margin: 0.2em;
  box-shadow: 0 0.04em 0.1em #ccc;
}

.icon-left:before {
  content: '<';
  padding: 0 0.55em 0 0.5em
}

.icon-right:before {
  content: '>';
  padding: 0 0.5em 0 0.55em
}

.month-view-week-strip:after {
  content: '';
  clear: both;
}

.month-view .day,
.month-view .week-strip-label {
  width: calc(100% / 7);
  float: left;
  padding: 0.5em;
  box-sizing: border-box;
}

.month-view .week-strip-label {
  font-weight: bold;
  text-shadow: 0 2px 3px #ccc;
  color: #002E5E;
}

.month-view .week-strip-label:hover:not(:active) {
  background-color: #DFEDF2;
  box-shadow: 0 2px 3px #999;
}

.month-view .week-strip-label:active {
  background-color: #DFEDF2;
}

.month-view .day {
  height: 8em;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.month-view .day.grayed-out {
  color: #aaa;
}

.month-view .day:not(.grayed-out) .day-title:hover {
  padding: 0 0.3em;
  color: #002E5E;
}

.month-view .day:nth-child(7n+1) {
  border-left: 1px solid #ccc;
}

.month-view .day-title {
  margin-bottom: 0.5em;
}

.month-view .day-body:after {
  content: '';
  clear: both;
}

.month-view .month-view-body:after {
  content: '';
  clear: both;
}

.month-view .month-view-appointment {
  margin-bottom: 0.3em;
  border-radius: 0.3em;
  padding: 0 0.3em;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.month-view .day:not(.grayed-out) .month-view-appointment:not(:hover):not(:active) {
  border-bottom: 1px dashed #ccc;
}

.month-view .month-view-appointment:hover {
  color: #002E5E;
}

.month-view .day.grayed-out .month-view-appointment:hover {
  box-shadow: none;
  transform: none;
}